<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/head')%>

<%- include('partials/navbar')%>

<div class="container bg-light">
    <div class="row">
        
        <div class="column">
    <form action="/game/?_method=PUT" method="POST">
        <label for="uname">Game Title</label>
        <input type="text" id="gTitle" name="gTitle" placeholder="title">
        <br>
        <label for="comment">Year</label>
        <input type="text" id="gYear" name="gYear" placeholder="2001">
        <br>
       <label for="comment">Score</label>
        <input type="text" id="gScore" name="gScore" placeholder="7">
        <br>
       <label for="comment">Rating</label>
        <input type="text" id="gRating" name="gRating" placeholder="PG13+">
        <br>
       <label for="comment">Summary</label>
        <input type="text" id="gSummary" name="gSummary" placeholder="Game description">
        <br>
       <label for="comment">Image</label>
        <input type="text" id="gImage" name="gImage" placeholder="www.imglink.com">
        <br>
       <button>SUBMIT</button>
    </form>
</div>
</div>
</div>
    <%- include('partials/footer')%>
</body>
</html>